<!DOCTYPE html>
<html>
    <head>
        <title>MeadowLark Travel</title>
    </head>
    <body>
        <header><img src='/img/logo.png' alt='MeadowLark Travel Logo'></header>
        {{{body}}}
    </body>
</html>